name: Test Suite

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  PIP_INDEX_URL: https://:2024-11-18T19:45:02.027443Z@time-machines-pypi.sealsecurity.io/
jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: MatteoH2O1999/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install dependencies
        run: scripts/install
      - name: Build package & docs
        run: scripts/build
      - name: Run tests
        run: scripts/test
      - name: Enforce coverage
        run: scripts/coverage
